doctype html
html(ng-app="invoices")
  head
    title= title
    link(rel='stylesheet' type="text/css" href='http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href='stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
    script(src="/client/main.js")
    script(src="/client/controllers/appHomeController.js")
    script(src="/client/controllers/appInvoiceController.js")

  body
    block content