body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
	width: 800px
}

.create {
	position: relative;
	top: 100;
	left: 100;
}

.heading {
	text-align: center;
	font-weight: bold;
}

.invoice {
	width: 800px;
}

.invoiceInfo {
	text-align: right
}

input {
	padding-left: 10px;
	border: 1px solid #FFF;
	margin-bottom: 5px;
}

input:hover {
	border: 1px solid #CCCCCC;
}

.customerName {
	font-weight: bold;
}

.customerAddress {
	width: 400px;
}